<head>
    <style>
        .container {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .box {
            padding: 2%;
            border-radius: 5px;
            width: 300px;
            height: 300px;
            background: #1793a6;
        }
        body {
            color: white;
            margin: 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Você esqueceu sua senha?</h1>
            <hr>
            <p>Não tem problema, só usar esse token para recuperar: {{token}}</p>
        </div>
    </div>
</body>
